<section id="download" class="content-section text-center">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#Domineering"><img class="preview" src="../img/domineering_1.png" alt="Domineering Screenshot"></a>
        <div id="Domineering" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Domineering</h4>
              </div>
              <div class="modal-body">
                <p>Domineering is a mathematical game introduced by Goran Andersson in 1974 and played on chequered boards of different sizes.</p>
                <p>Grid-based game developed as week project using JavaScript, jQuery, HTML5 and CSS.</p>
                <p><a href="https://domineering.herokuapp.com" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/jacprada/Domineering" class="btn btn-default" role="button" target="_blank">View Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#Zaratustra"><img class="preview" src="../img/zaratustrafm_1.png" alt="Zaratustra Screenshot"></a>
        <div id="Zaratustra" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Zaratustra.fm</h4>
              </div>
              <div class="modal-body">
                <p>Zaratustra.fm fetches data from your Last.fm profile and allow users to discover great artists, review albums, recommend playlists and find likeminded music lovers.</p>
                <p>Music-based app developed as an individual week project using Ruby, Rails, Last.fm API, HTML5, CSS and Bootstrap.</p>
                <p><a href="http://zaratustra-fm.herokuapp.com/" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/jacprada/Zaratustra.fm" class="btn btn-default" role="button" target="_blank">View Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#Brew"><img class="preview" src="../img/brew_1.png" alt="Brew Screenshot"></a>
        <div id="Brew" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brew</h4>
              </div>
              <div class="modal-body">
                <p>Brew maps the most exclusive rooftop bars in London..</p>
                <p>Map-based app developed as a group week project using Node, Express, Mongoose, Google Maps API, JavaScript, HTML5, CSS and Bootstrap.</p>
                <p><a href="https://brew-rooftop-bars.herokuapp.com/" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/jacprada/group-project-wdi-14" class="btn btn-default" role="button" target="_blank">View Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <a href="#" data-toggle="modal" data-target="#myModal"><img class="preview" src="../img/domineering_1.png" alt="Domineering Screenshot"></a>
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Domineering</h4>
              </div>
              <div class="modal-body">
                <p>Domineering is a mathematical game introduced by Goran Andersson in 1974 and played on chequered boards of different sizes.</p>
                <p>Grid-based game developed as week project using JavaScript, jQuery, HTML5 and CSS.</p>
                <p><a href="https://domineering.herokuapp.com" class="btn btn-default" role="button" target="_blank">Visit Website</a> <a href="https://github.com/jacprada/Domineering" class="btn btn-default" role="button" target="_blank">View Code</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>