<!-- experience Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="experienceTitle col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">2015 [London]</h4>
                                    <h4 class="subheading"><a href="https://generalassemb.ly/" target="_blank">General Assembly</a> - Web Development Immersive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Intensive full-time three-month programming bootcamp.<br>The Web Development Immersive program has given me a wide range of technical knowledge, allowed me to understand how to read and write code and ultimately enhanced my problem solving abilities. Throughout the course I completed four major projects, on my own and in a team, and explored a variety of languages and frameworks, both on the client and server side.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">2012-2014 [Copenhagen]</h4>
                                    <h4 class="subheading"><a href="http://www.cbs.dk/en" target="_blank">Copenhagen Business School</a> - M.Sc. Strategic Market Creation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Master of Science degree that takes a market-oriented approach to entrepreneurship and innovation, focusing on the role that marketing, brand management, product development as well as business model innovation play in the creation of new opportunities for a company.<br>Furthermore, through my elective courses I decided to deepen my knowledge in the fields of digital communication, marketing strategy and startup companies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">2010 [Melbourne]</h4>
                                    <h4 class="subheading"><a href="http://www.unimelb.edu.au/" target="_blank">University of Melbourne</a> - Exchange Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Exchange semester staying at the Newman residential college.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">2008-2011 [Milan]</h4>
                                    <h4 class="subheading"><a href="http://www.unibocconi.eu/" target="_blank">Bocconi University</a> - B.Sc. Management of Arts, Culture and Communication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Science degree that combines rigorous courses in economics and management applied to the context of arts, cultural industries and communication.<br>Throughout the program I have developed a deep interest in the fields of business strategy, marketing research and branding.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>