<!-- experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="experienceTitle col-lg-12 text-center">
                    <h2 class="section-heading">Professional Experience</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">Sep 2015-now</h4>
                                    <h4 class="subheading"><a href="https://generalassemb.ly/" target="_blank">General Assembly</a> - Teaching Assistant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">General Assembly is an innovative educational institution and a global community of developers, designers and business nerds.<br>After completing the Web Development Immersive bootcamp, I got offered a position as a teaching assistant for the following cohort of the program. My area of responsibility relates to both front and back-end development, while my tasks include reviewing homework and running coding exercises.<br><br><strong>Areas of Responsibility:</strong> Back and Front-End Development, Code Review.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">Jan 2014-May 2015</h4>
                                    <h4 class="subheading"><a href="http://www.blendingpoint.com/" target="_blank">Blend Creative Agency</a> - Digital Strategist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Blend is a fast-growing creative boutique that delivers an ecosystem of digital services ecompassing the entire branding process.<br>During my time working at Blend I was in charge of the strategic activity of the agency and I provided business and marketing consultancy to our clients. While I spent some time at the company's hub in Tuscany, I mainly worked online and this gave me the opportunity to move between Copenhagen, Berlin, South Tyrol, London and Lisbon.<br><br><strong>Areas of Responsibility:</strong> Digital Strategy, Business Consulting and Brand Management.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">Sep 2013-Dec 2013</h4>
                                    <h4 class="subheading"><a href="https://soply.com/" target="_blank">Soply</a> - Business Development Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Formerly known as PhotoPitch, Soply is a startup that provides tailored visual content for brands crowdsourced from creatives worldwide.<br>While studying in Copenhagen, I worked as a part-time intern for the company, developing the business through marketing strategy and social media management. During my time at Soply, the startup got funded and expanded its operations in the UK.<br><br><strong>Areas of Responsibility:</strong> Business Development, Marketing Strategy and Social Media Management.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="experienceInfo timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeFrame">Mar 2012-Jun 2012</h4>
                                    <h4 class="subheading"><a href="http://www.imille.it/it/" target="_blank">Imille Digital Agency</a> - Digital Media Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Imille is a mid-sized agency that explores innovative branding solutions and creates integrated communication strategies for the digital era.<br>The internship at Imille gave me the opportunity to work on the digital strategy, search engine optimization and copywriting for international clients. Despite having received a full-time job offer by the agency, I decided to pursue my academic education and I moved to Copenhagen.<br><br><strong>Areas of Responsibility:</strong> Digital Strategy, Search Engine Optimization and Copywriting.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>